body{
background-color: antiquewhite;
border-style:double;
margin: 30px;
font-size: 18px;

}
#titulo{
text-align: center;
font: 300 ;
font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 1024px) {
  .div2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas pequeñas: 1 columna */
@media (max-width: 600px) {
  .div2 {
    grid-template-columns: 1fr;
  }
}@media (max-width: 1024px) {
  .div2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas pequeñas: 1 columna */
@media (max-width: 600px) {
  .div3 {
    grid-template-columns: 1fr;
  }
}@media (max-width: 1024px) {
  .div3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas pequeñas: 1 columna */
@media (max-width: 600px) {
  .div4 {
    grid-template-columns: 1fr;
  }
}@media (max-width: 1024px) {
  .div4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas pequeñas: 1 columna */
@media (max-width: 600px) {
  .div5 {
    grid-template-columns: 1fr;
  }
}@media (max-width: 1024px) {
  .div5 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query para pantallas pequeñas: 1 columna */
@media (max-width: 600px) {
  .div6 {
    grid-template-columns: 1fr;
  }
}@media (max-width: 1024px) {
  .div6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

#div1{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: flex;
  max-width: 1200px;
  
}
#div2{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
 
}
#div3{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: flex;
  max-width: 1200px;
  
}
#div4{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: flex;
  max-width: 1200px;
  
}
#div5{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: flex;
  max-width: 1200px;
  
}
#div6{
  margin-left: 80px;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  display: flex;
  max-width: 1200px;
   
}


#noaply{
  margin-left: 80px;
  margin-bottom: 80px;
  display: block;
}


#balotelli{
  border-style:dashed;
width: 150px;
height: auto;

}
#hobi{
 
margin-top: 80px;

}
#list{

    font-size: 19px;
}